.movies {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.movies__container {
    padding: 0 70px;
}
.movies__button {
    align-self: center;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background-color: #F9F9F9;
    padding: 0;
    margin: 50px 0 80px;
    cursor: pointer;
    transition: .3s;
    border: none;
}

.movies__button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .movies__container{
        padding: 86px 32px 0;
    }
}

@media screen and (max-width: 550px) {
    .movies__container{
        padding: 92px 10px 0;
    }
}