.profile {
    margin: 0;
    padding: 0;
}
.profile__container {
    max-width: 410px;
    width: 100%;
    padding: 74px 0 70px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.profile__greeting {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.profile__form {
    display: flex;
    padding-top: 123px;
    flex-direction: column;
    height: 100%;
}


.profile__fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.profile__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.profile__label:first-child {
    margin-bottom: 17px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}


.profile__input-title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    text-align: right;
    border: none;
    width: 90%;
}

.profile__nav {
    display: grid;
    gap: 16px;
    justify-items: center;
    padding-top: 220px;
}

.profile__button_edit {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: .3s ease-in;
}
.profile__button_edit:hover{
    opacity: .7;
}

.profile__button_sign-out {
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    transition: .3s ease-in;
}
.profile__button_sign-out:hover{
    opacity: .7;
}

@media screen and (max-width: 900px) {
    .profile__container {
        padding: 236px 0 269px 0;
    }

    .profile__form {
        padding-top: 96px;
    }

    .profile__nav {
        padding-top: 210px;
    }
}

@media screen and (max-width: 550px) {
    .profile__container {
        padding: 70px 0 40px 0;
        max-width: 260px;
    }

    .profile__form {
        padding-top: 80px;
    }

    .profile__nav {
        padding-top: 379px;
    }


    .profile__input {
        width: 80%;
    }
}