.register {
    display: flex;
    flex-direction: column;
    padding: 70px 0 0 0;
    background-color: #FFFFFF;

}

.register__container {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 0 auto;
}

.register__top {
    display: flex;
    flex-direction: column;
    margin: 40px 0;

}

.register__logo {
    width: 38px;
    height: 38px;
}

.register__title {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    max-width: 396px;

}

.register__form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.register__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.register__label {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    display: block;
    margin: 20px 0 10px;
}

.register__label_not-padding{
    margin-top: 0;

}

.register__input {
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    outline: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    background-color: #F9F9F9;
    box-sizing: border-box;
}

.register__bottom {
    display: flex;
    flex-direction: column;
    margin: 69px 0 0;
}

.register__button {
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background: #FF6838;
    border: none;
    color: #fff;
    margin: 0 0 16px 0;
    padding: 0;
    transition: .3s ease-in;
}
.register__button:hover {
    opacity: .8;
}
.register__link {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.register__signin {
    color: #FF6838;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 6px;
    padding: 0;
    text-decoration: none;
    transition: .3s ease-in;
}

.register__signin {
    opacity: .7;
}
.register__error {
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    margin: 10px 0 0;
}


@media screen and (max-width: 900px){
    .register{
        padding: 232px 0 232px 0;
    }
}

@media screen and (max-width: 550px){
    .register {
        padding: 56px 0 30px 0;
    }

    .register__container {
        width: 260px;
    }

    .register__top {
        align-items: center;
        margin: 0;
    }

    .register__title {
        margin: 47px 0 80px 0;
    }

    .register__items {
        padding-bottom: 155px;
    }

    .register__button {
        width: 260px;
        font-size: 12px;
        line-height: 15px;
    }


    .register__bottom{
        margin: 0;
    }

    .register__link {
        padding-top: 14px;
        font-size: 12px;
        line-height: 15px;
    }

    .register__button{
        margin-bottom: 14px;
    }

    .register__link {
       padding: 0;
    }
}